<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>PixiJS - Template</title>
  </head>

  <body>
    <div
      id="background-controls"
      style="
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        background: #222;
        border-radius: 8px;
        color: #fff;
        font-family: sans-serif;
        font-size: 14px;
        z-index: 10;
      "
    >
      <label>Цвет: <input type="color" id="bg-color" value="#1e1e1e" /></label
      ><br />
      <label
        >Прозрачность:
        <input
          type="range"
          id="bg-alpha"
          min="0"
          max="1"
          step="0.05"
          value="1" /></label
      ><br />
      <button id="export">Экспорт</button>
      <br />
    </div>
    <div
      id="widget-controls"
      style="
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px;
        background: #222;
        border-radius: 8px;
        color: #fff;
        font-family: sans-serif;
        font-size: 14px;
        z-index: 10;
      "
    >
      <label>
        <p id="choosed-widget"></p>
      </label>

      <!-- Аналоговые часы -->
      <div>
        <!-- <p>Аналоговые часы</p> -->
      </div>
      <!-- Цифровые часы -->
      <div>
        <p>Цифровые часы</p>
        <div>
          <button id="digital-clock-1">1</button>
          <button id="digital-clock-2">2</button>
        </div>
        <div>
          <button id="digital-clock-3">3</button>
          <button id="digital-clock-4">4</button>
        </div>
      </div>

      <!-- Даты -->

      <!-- Погода -->

      <!-- Трафик -->

      <!-- Новости -->

      <!-- Курсы доллара/евро -->

      <!-- Управляющая компания -->
    </div>

    <div id="app">
      <div id="pixi-container"></div>
    </div>
  </body>
</html>
