<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>PixiJS - Template</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div
      id="background-controls"
      style="
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
        background: #222;
        border-radius: 8px;
        color: #fff;
        font-family: sans-serif;
        font-size: 14px;
        z-index: 10;
      "
    >
      <label>Цвет: <input type="color" id="bg-color" value="#1e1e1e" /></label
      ><br />
      <label
        >Прозрачность:
        <input
          type="range"
          id="bg-alpha"
          min="0"
          max="1"
          step="0.05"
          value="1" /></label
      ><br />
      <button id="export">Экспорт</button><button id="import">Импорт</button
      ><br />
      <label
        >Размеры экрана <br /><input
          type="number"
          placeholder="Ширина"
          id="width" /><br />
        <input type="number" placeholder="Высота" id="height"
      /></label>
      <br /><button id="resize">применить</button>

      <br />
    </div>
    <div
      id="widget-controls"
      style="
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 10px;
        background: #222;
        border-radius: 8px;
        color: #fff;
        font-family: sans-serif;
        font-size: 14px;
        z-index: 10;
      "
    >
      <label>
        <p id="choosed-widget"></p>
      </label>

      <!-- Аналоговые часы -->
      <div>
        <p>Аналоговые часы</p>
        <div>
          <button id="analog-clock-1">1</button>
          <button id="analog-clock-2">2</button>
        </div>
        <div>
          <button id="analog-clock-3">3</button>
          <button id="analog-clock-4">4</button>
        </div>
        <div>
          <button id="analog-clock-5">5</button>
          <button id="analog-clock-6">6</button>
        </div>
        <div>
          <button id="analog-clock-7">7</button>
          <button id="analog-clock-8">8</button>
        </div>
      </div>

      <!-- Цифровые часы -->
      <div>
        <p>Цифровые часы</p>
        <div>
          <button id="digital-clock-1">1</button>
          <button id="digital-clock-2">2</button>
        </div>
        <div>
          <button id="digital-clock-3">3</button>
          <button id="digital-clock-4">4</button>
        </div>
      </div>

      <!-- Даты -->
      <div>
        <p>Календари</p>
        <div>
          <button id="calendar-1">1</button>
          <button id="calendar-2">2</button>
        </div>
        <div>
          <button id="calendar-3">3</button>
          <button id="calendar-5">4</button>
        </div>
        <div>
          <button id="calendar-6">5</button>
          <button id="calendar-7">6</button>
        </div>
      </div>

      <!-- Погода -->
      <div>
        <p>Погода</p>
        <div>
          <button id="weather-1">1</button>
          <button id="weather-2">2</button>
        </div>
        <div>
          <button id="weather-3">3</button>
          <button id="weather-4">4</button>
        </div>
      </div>

      <!-- Трафик -->
      <div>
        <p>Трафик</p>
        <div>
          <button id="traffic-1">1</button>
          <button id="traffic-2">2</button>
        </div>
        <div>
          <button id="traffic-3">3</button>
        </div>
      </div>

      <!-- Новости -->
      <div>
        <p>Новости</p>
        <div>
          <button id="news-1">1</button>
        </div>
      </div>

      <!-- Курсы доллара/евро -->
      <div>
        <p>Курс доллара/евро</p>

        <div>
          <button id="usdEur-1">1</button>
          <button id="usdEur-2">2</button>
        </div>
        <div>
          <button id="usdEur-3">3</button>
          <button id="usdEur-4">4</button>
        </div>
        <div>
          <button id="usdEur-5">5</button>
          <button id="usdEur-6">6</button>
        </div>
      </div>

      <!-- Драг. металлы -->
      <div>
        <p>Драгоценные металлы</p>
        <button id="metal-1">1</button>
        <button id="metal-2">2</button>
      </div>

      <!-- О компании -->
      <div>
        <p>О компании</p>

        <div>
          <button id="company-1">1</button>
          <button id="company-2">2</button>
        </div>
        <div>
          <button id="company-3">3</button>
        </div>
      </div>
    </div>

    <div id="app">
      <div id="pixi-container"></div>
    </div>
  </body>
</html>
